# Ignore everything
*

# Allow wp-content
!wp-content/

# Allow themes & custom plugins only
!wp-content/themes/
!wp-content/plugins/

# Ignore all plugins except custom ones
wp-content/plugins/*

# Keep your custom plugin (edit this)
!wp-content/plugins/your-plugin-name/

# Ignore uploads
wp-content/uploads/

# Ignore config
wp-config.php
.env

# Keep index file
!wp-content/themes/
!wp-content/plugins/
!wp-content/index.php